<html>
    <head>
        
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <nav class="shell_nav">
            <ul class="content_nav">
            <il class="item_nav">
                <a href="{{ url_for('home') }}">Home</a>
            </il>
            <il class="item_nav">
                <a href="{{ url_for('post') }}">Post</a>
            </il>
            <il class="item_nav">
                <a href="{{ url_for('profile') }}">Profile</a>
            </il>
            </ul>
        </nav>
        {% block content%}
        {% endblock %}
       
    </body>
</html>