{% extends "base.html" %}
{% block title %}EditProfile{% endblock %}
{% block content %}
        <h1 class="login_name" style="text-align: center;">EDIT YOUR PROFILE</h1> <br>
        <div style="justify-self: center;">
            <form action="" method="POST" enctype="multipart/form-data">
                <label for="bio">Update your bio</label>
                <br>
                <textarea name="bio" rows="4" cols="50">{{ user.bio }}</textarea><br>
                <br><br>
                <button type="submit">Save Changes</button>
            </form><br><br>
            <button class="edit-btn" style="margin-left: 230px;" onclick="window.location.href='{{ url_for('profile') }}'">Back</button>
        </div>


{% endblock %}